.wrapper {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.canvas {
    height: 100vh;
}


.ui {
    position: fixed;
    padding-top: 20px;
    font-family: 'Slabo 27px', serif;
    font-size: 50px;
    width: 80px;
    right: 30px;
}